<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>评论统计</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=0'>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>  
            .chart{                  
                height: 300px;  
            }  
        </style>  

</head>
<body>
    <div class="container-fluid">
        <div id="line" class="row chart">
        </div>
        <div id="bar" class="row">
        </div>
    </div>  
    </div>
    <script>
        var line = echarts.init(document.getElementById('line'));
        
        $(
            function () {
                fetchLineData();
                fetchBarData()
                setInterval(fetchLineData, 2000);
            }
        );

        function fetchLineData() {
            $.ajax({
                type: "GET",
                url: "https://api.61webstore.com/api/line",
                dataType: 'json',
                success: function (result) {
                    var option = {
                        legend: {},
                        tooltip: {},
                        dataset: {
                            // 提供一份数据。
                            source: result.ydata
                        },
                        // 声明一个 X 轴，类目轴（category）。默认情况下，类目轴对应到 dataset 第一列。
                        xAxis: {type: 'category',data:result.xdata,boundaryGap: false,},
                        // 声明一个 Y 轴，数值轴。
                        yAxis: {},
                        // 声明多个 bar 系列，默认情况下，每个系列会自动对应到 dataset 的每一列。
                        series: [
                            {type: 'line'},
                            {type: 'line'},
                            {type: 'line'}
                        ]
                    }                 
                    line.setOption(option);
                }
            });
           
        }

        function fetchBarData() {
            $.ajax({
                type: "GET",
                url: "https://api.61webstore.com/api/bar",
                dataType: 'json',
                success: function (result) {                
                   var number=$("#bar").children().length;
                    if(number==0){
                        for(var i=0;i<result.count;i++){
                            $("#bar").append("<div id ='bar_"+i+"' class='col-sm-4 chart'></div>")
                            var chart = document.getElementById('bar_'+i); 
                            var bar = echarts.init(chart);
                            var option = {
                                    title: {
                                        text: result.names[i],
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                    },
                                    series: [
                                        {
                                            
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['50%', '50%'],
                                            data: result.list[i],
                                            itemStyle: {
                                                emphasis: {
                                                    shadowBlur: 10,
                                                    shadowOffsetX: 0,
                                                    shadowColor: 'rgba(128, 128, 128, 0.5)'
                                                }
                                            }
                                        }
                                    ]
                                };
                            bar.setOption(option)
                        }
                    }else{
                        $("#bar").empty();
                    }
                }
            });
           
        }
    </script>
</body>
</html>