{% extends 'base.html' %}
{% load static %}

{% block title %}
天天生鲜-我的订单
{% endblock title %}
{% block topfiles %}

{% endblock topfiles %}
{% block body %}

<div class="search_bar clearfix">
	<a href="{% url 'goods:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
	<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
	<div class="search_con fr">
		<input type="text" class="input_text fl" name="" placeholder="搜索商品">
		<input type="button" class="input_btn fr" name="" value="搜索">
	</div>
</div>

<div class="main_con clearfix">
	<div class="left_menu_con clearfix">
		<h3>用户中心</h3>
		<ul>
			<li><a href="{% url 'user:center' %}">· 个人信息</a></li>
			<li><a href="{% url 'user:order' 1 %}" class="active">· 全部订单</a></li>
			<li><a href="{% url 'user:address' %}">· 收货地址</a></li>
		</ul>
	</div>
	<div class="right_content clearfix">
		<h3 class="common_title2">全部订单</h3>
		{% csrf_token %}
		{% for order in orders_page %}
		<ul class="order_list_th w978 clearfix">
			<li class="col01">{{order.create_time}}</li>
			<li class="col02">订单号：{{order.order_id}}</li>
			<li class="col02 stress">{{order.status_name}}</li>
		</ul>

		<table class="order_list_table w980">
			<tbody>
				<tr>
					<td width="55%">
						{% for order_sku in order.order_skus %}
						<ul class="order_goods_list clearfix">
							<li class="col01"><img src="{{order_sku.sku.image.url}}"></li>
							<li class="col02">
								{{order_sku.sku.name}}<em>{{order_sku.price}}元/{{order_sku.sku.unite}}</em></li>
							<li class="col03">{{order_sku.count}}</li>
							<li class="col04">{{order_sku.amount}}元</li>
						</ul>
						{% endfor %}
					</td>
					<td width="15%">{{order.total_price|add:order.transit_price}}元</td>
					<td width="15%">{{order.status_name}}</td>
					<td width="15%"><a href="#" order_id={{order.order_id}} status={{order.order_status}}
							class="oper_btn">去付款</a></td>
				</tr>
			</tbody>
		</table>
		{% endfor %}

		<div class="pagenation">
			{% if orders_page.has_previous %}
			<a href="{% url 'user:order' orders_page.previous_page_number %}">上一页</a>
			{% endif %}
			{% for pindex in pages %}
			{% if pindex == orders_page.number %}
			<a href="{% url 'user:order' pindex %}" class="active">{{pindex}}</a>
			{%else%}
			<a href="{% url 'user:order' pindex %}">{{pindex}}</a>
			{% endif %}
			{% endfor %}
			{% if orders_page.has_next %}
			<a href="{% url 'user:order' orders_page.next_page_number %}">下一页</a>
			{% endif %}
		</div>
	</div>
</div>
<script>
	$('.oper_btn').click(function () {

		status = $(this).attr('status')
		order_id = $(this).attr('order_id')
		csrf = $('input[name="csrfmiddlewaretoken"]').val()
		params = {
			'order_id': order_id,
			'csrfmiddlewaretoken': csrf
		}
		if (status == 1) {
			$.post('/order/pay', params, function (data) {
				if (data.res == 3) {
					window.open(data.pay_url)
					$.post('/order/check', params, function (data) {
						if (data.res == 3) {
							alert('支付成功')
							location.reload()
						}
					})
				} else {
					alert(data.errmsg)
				}

			})
		} else {

		}

	})
</script>
{% endblock body %}